<!--This shortcode allows you to embed a video onto the page,
	See documentation for more details:
		'docs/shortcodes/youtube.md'
-->
<div {{ with .Get "id" }}id="{{ . }}"{{ end }}
class="magnific-video mpf-iframe embed video-player {{ .Get "class" }}">
	<iframe src="https://www.youtube.com/embed/{{ .Get "src" }}" type="text/html"
		{{ if (ne (.Get "allow_fullscreen") false) }}allowfullscreen{{ end }}
		frameborder="0"
		{{ with .Get "width" }}width="{{ . }}"{{ else }}width="500"{{ end }}
		{{ with .Get "height" }}height="{{ . }}"{{ else }}height="100%"{{ end }}
	></iframe>
</div>
